@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans Bengali', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Flexbox ব্যবহার করে কেন্দ্রীকরণ */
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

h1 {
    font-size: 90px;
    color: #d32f2f;
    margin-bottom: 20mm;
    text-align: center;
}

p {
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 10mm;
    text-align: center;
}

.highlight {
    font-weight: 700;
    color: #d32f2f;
    text-align: center;
}

.warning {
    font-weight: 700;
    color: #d32f2f;
    border: 3pt solid #d32f2f;
    padding: 10mm;
    margin-top: 20mm;
    text-align: center;
}

@media print {
    body {
        background-color: white;
    }

    .container {
        box-shadow: none;
    }
}
